.indicators-container{
  background-color: #11281975 !important;
  .indicators-grid{
      padding-top: 30px;
      padding-bottom: 20px;
  }
}

.dark-mode{
  .indicators-container{
    background-color: #41414375 !important;
  }
}
 
@media(max-width: 960px){
  .indicators-container{
    background-color: transparent !important;  
    box-shadow: 0 0 0 0 !important;
  }
}