.card-indicator{
//  transition: all .5s ease-in-out;
  color: green !important;
  padding: 10px;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 10px solid rgb(175, 164, 13);
  position: relative;
  cursor: pointer;
  &:hover{
    transform: scale(1.02);
    transition: all .1s ease-in-out;
    }
  .card-title{
    font-size: 14pt;
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    &::after{
    top: 5px;
    width: 48px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    position: relative;
    border-top: 3px solid #3CBA68;
    }
   
  }
  .card-value{
    margin-top: 24px !important;
  }
}

.dark-mode{
  .card-indicator{
    background-color: #262d31 !important;
    color: white !important;
    border-bottom: 10px solid #056162;
      .card-title::after{
        border-top: 3px solid #356477;
      }
  }
}